.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: 0x80000000;
    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: opacity .4s, visibility .4s,transform .3s ease;
        ol {
            list-style-type: circle;
            li {
                margin: 16px 0;
                span {
                    font-weight: 500;
                    font-size: 15px;
                    display: inline-block;
                    position: relative;
                    &:hover {
                        cursor: pointer;
                    }
                    &:after {
                        background-color: black;
                        display: block;
                        content: "";
                        height: 4px;
                        width: 0%;
                        -webkit-transition: width .3s ease-in-out;
                        -moz--transition: width .3s ease-in-out;
                        transition: width .3s ease-in-out;
                    }
                }
                span:hover:after, &:focus:after, &.activeItem:after  {
                    width: 100%;
                }
            }
        }
        .title {
            font-weight: 700;
            font-size: 25px;
        }
}
.animation_start {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20%);
}
.animation_end {
    visibility: visible;
    opacity:1;
    transform: translateY(0);
}
}