.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition: opacity .4s, visibility .4s,transform .3s ease;
        .title {
            font-weight: 700;
            font-size: 25px;
        }
        .bar {
            display: flex;
            .var {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border-right: 1px solid white;
                background-color: #333333;
                &:hover {
                    cursor: pointer;
                    background-color: #555555;
                }
            }
        }
}
.animation_start {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20%);
}
.animation_end {
    visibility: visible;
    opacity:1;
    transform: translateY(0);
}
}